<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825034418893-cqa6ol2h3hvgvj6m33kf3p16rs89kloj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825034418893-cqa6ol2h3hvgvj6m33kf3p16rs89kloj</string>
	<key>API_KEY</key>
	<string>AIzaSyCUsYx5VknPbCo-TGzZLC_M8415BvuuU5w</string>
	<key>GCM_SENDER_ID</key>
	<string>825034418893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bencetoth.habitCreator</string>
	<key>PROJECT_ID</key>
	<string>habitbuilder-6f9ca</string>
	<key>STORAGE_BUCKET</key>
	<string>habitbuilder-6f9ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825034418893:ios:beb6dddf6a3259a2959784</string>
</dict>
</plist>